.cancel {
    color: white;
}

.cancel ul li {
    color: white;
}

.cancel ul li a {
    color: aqua;
}

ul {
    color: white;
}

ul li {
    color: white;
}

ul li a {
    color: aqua;
    padding: none;
    width: 1200px;
    height: auto;
    margin: none;
    position: relative;
    font-size: larger;
    text-decoration: none;
    font-family: sans-serif;
    font-style: unset;
    font-weight: bolder;
}

